<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2015 Zenika
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html

    Contributors:
    Mario Loriedo @mariolet - Initial implementation

-->
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.zenika.docker.ide.ui.oneDockerFileSelected">
         <and>
            <count
                  value="1">
            </count>
            <iterate>
               <adapt
                     type="org.eclipse.core.resources.IFile">
                  <or>
                     <test
                           property="org.eclipse.core.resources.name"
                           value="Dockerfile">
                     </test>
                     <test
                           property="org.eclipse.core.resources.extension"
                           value="Dockerfile">
                     </test>
                  </or>
               </adapt>
            </iterate>
         </and>
      </definition>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            category="org.eclipse.ui.externaltools"
            class="com.zenika.docker.ide.ui.launch.DockerBuildLaunchShortcut"
            icon="icons/docker-build.gif"
            id="com.zenika.docker.ide.ui.dockerBuildShortcut"
            label="Docker Build"
            modes="run, debug">
         <contextualLaunch>
            <enablement>
               <reference
                     definitionId="com.zenika.docker.ide.ui.oneDockerFileSelected">
               </reference>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            category="org.eclipse.ui.externaltools"
            class="com.zenika.docker.ide.ui.launch.DockerRunLaunchShortcut"
            icon="icons/docker-run.gif"
            id="com.zenika.docker.ide.ui.dockerRunShortcut"
            label="Docker Run"
            modes="run, debug">
         <contextualLaunch>
            <enablement>
               <reference
                     definitionId="com.zenika.docker.ide.ui.oneDockerFileSelected">
               </reference>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            category="org.eclipse.ui.externaltools"
            class="com.zenika.docker.ide.ui.launch.DockerLogsLaunchShortcut"
            icon="icons/docker-logs.gif"
            id="com.zenika.docker.ide.ui.dockerLogsShortcut"
            label="Docker Logs"
            modes="run, debug">
         <contextualLaunch>
            <enablement>
               <reference
                     definitionId="com.zenika.docker.ide.ui.oneDockerFileSelected">
               </reference>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            category="org.eclipse.ui.externaltools"
            class="com.zenika.docker.ide.ui.launch.DockerPsLaunchShortcut"
            icon="icons/docker-ps.gif"
            id="com.zenika.docker.ide.ui.dockerPsShortcut"
            label="Docker Ps"
            modes="run, debug">
         <contextualLaunch>
            <enablement>
               <reference
                     definitionId="com.zenika.docker.ide.ui.oneDockerFileSelected">
               </reference>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            category="org.eclipse.ui.externaltools"
            class="com.zenika.docker.ide.ui.launch.DockerRmLaunchShortcut"
            icon="icons/docker-rm.gif"
            id="com.zenika.docker.ide.ui.dockerRmShortcut"
            label="Docker Rm"
            modes="run, debug">
         <contextualLaunch>
            <enablement>
               <reference
                     definitionId="com.zenika.docker.ide.ui.oneDockerFileSelected">
               </reference>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>

</plugin>
