<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.zenika.docker.ide.ui.oneDockerFileSelected">
         <and>
            <count
                  value="1">
            </count>
            <iterate>
               <adapt
                     type="org.eclipse.core.resources.IFile">
                  <or>
                     <test
                           property="org.eclipse.core.resources.name"
                           value="Dockerfile">
                     </test>
                     <test
                           property="org.eclipse.core.resources.extension"
                           value="Dockerfile">
                     </test>
                  </or>
               </adapt>
            </iterate>
         </and>
      </definition>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            category="org.eclipse.ui.externaltools"
            class="com.zenika.docker.ide.ui.launch.DockerBuildLaunchShortcut"
            icon="icons/DockerTrasparent_16x16.png"
            id="com.zenika.docker.ide.ui.dockerBuildShortcut"
            label="Docker Build"
            modes="run, debug">
         <contextualLaunch>
            <enablement>
               <reference
                     definitionId="com.zenika.docker.ide.ui.oneDockerFileSelected">
               </reference>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            category="org.eclipse.ui.externaltools"
            class="com.zenika.docker.ide.ui.launch.DockerRunLaunchShortcut"
            icon="icons/DockerTrasparent_16x16.png"
            id="com.zenika.docker.ide.ui.dockerRunShortcut"
            label="Docker Run"
            modes="run, debug">
         <contextualLaunch>
            <enablement>
               <reference
                     definitionId="com.zenika.docker.ide.ui.oneDockerFileSelected">
               </reference>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>

</plugin>
