<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2015 Zenika
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html

    Contributors:
    Mario Loriedo @mariolet - Initial implementation

-->
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.zenika.com/docker/dsl/DockerfileDsl" 
       class = "com.zenika.doclipser.dsl.dockerfileDsl.DockerfileDslPackage"
       genModel = "model/generated/DockerfileDsl.genmodel" /> 
	
  </extension>



</plugin>
